@(uuid: String) @layout(title = "Reactive Streams", appName = "reactive") {

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/epoch.min.css")">

<section>
	<div class="row" data-ng-controller="ReactiveController" data-ng-init="startSocket('@uuid')">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
			<div class="col-sm-12 border " >
				<table width="100%" >
					<tr >
						<td colspan="3" width="60%" ><h3>Reactive Akka Streams</h3></td>
						<td rowspan="2" width="40%"  >
						<div class="btn-group" role="group" aria-label="...">
							<button type="button" class="btn btn-default-lg" ng-repeat="scenario in scenarios" class="btn btn-default"><a href="#" ng-click="changeScenario(scenario)">{{scenario.num}}</a></li>
						</div>
						<div id="title">
							<table>
							<tr>
								<td><h1>{{scenario.name}}</h1></td>
								<td>&nbsp;&nbsp;
							      <button type="button" class="btn btn-default-lg" class="btn btn-default"><a href="#" ng-click="startScenario(scenario)">Start</a></li>
								</td>
							</tr>
							</table>
						</div>
						<div id="scenario1" ng-show="scenario.num == 1" >
							Show some text here about the scenario 1
							<pre>
fastSource ~> fastSink
</pre>
						</div>
						<div id="scenario2" ng-show="scenario.num == 2" >
							Show some text here about the scenario 2
							<pre >
fastSource ~> slowingSink
</pre>
						</div>
						<div id="scenario3" ng-show="scenario.num == 3" >
							Show some text here about the scenario 3
							<pre>
fastSource ~> buffer ~> slowingSink
</pre>
						</div>
						<div id="scenario4" ng-show="scenario.num == 4" >
							Show some text here about the scenario 4
							<pre>
fastSource ~> broadcast ~> fastSink
/*         */ broadcast ~> slowSink
</pre>
						</div>
						<div id="scenario5" ng-show="scenario.num == 5" >
							Show some text here about the scenario 5
							<pre>
fastSource ~> broadcast /*     */ ~> fastSink
/*         */ broadcast ~> buffer ~> slowSink
</pre>
						</div>
						<div id="scenario6" ng-show="scenario.num == 6" >
							Show some text here about the scenario 6
							<pre>
fastSource ~> fastSink
</pre>
						</div>
						
						</td>
					</tr>
					<tr>
						<td class="col-sm-3 "><h3>Fast Source</h3><div id="fastSourceChart" class="epoch gauge-tiny"></div></td>
						<td class="col-sm-3 "><h3>Fast Sink</h3><div id="fastSinkChart" class="epoch gauge-tiny"></div></td>
						<td class="col-sm-3 "><h3>Slow Sink</h3><div id="slowSinkChart" class="epoch gauge-tiny"></div></td>
					</tr>
					<tr ><td colspan="10"><hr/></td></tr>
					<tr ><td colspan="10"><h3>Event Throughput</h3></td></tr>
					<tr >
						<td colspan="10" ><div id="areaChart" class="epoch category20" style="width: 100%; height: 350px"></div></td>
					</tr>
					<tr ><td colspan="10">&nbsp;</td></tr>
				</table>
				
			</div>
		</div>
	</div>

	</div>
</section>

<script src="@routes.WebJarAssets.at(WebJarAssets.locate("d3.min.js"))"></script>
<script src="@routes.Assets.at("javascripts/epoch.min.js")"></script>
<script>
	// guages
	// ////////////////////////
	var domain = [ 0, 60 ];
	var curTicks = 10;
	var curFps = 30;
	function curFormat(v) {
		return (v).toFixed(0) + '';
	};

	var fastSource = $('#fastSourceChart').epoch({
		type : 'time.gauge',
		domain : domain,
		ticks : curTicks,
		tickSize : curTicks,
		tickOffset : curTicks,
		fps : curFps,
		format : curFormat,
		value : 0
	});

	var fastSink = $('#fastSinkChart').epoch({
		type : 'time.gauge',
		domain : domain,
		ticks : curTicks,
		tickSize : curTicks,
		tickOffset : curTicks,
		fps : curFps,
		format : curFormat,
		value : 0
	});

	var slowSink = $('#slowSinkChart').epoch({
		type : 'time.gauge',
		domain : domain,
		ticks : curTicks,
		tickSize : curTicks,
		tickOffset : curTicks,
		fps : curFps,
		format : curFormat,
		value : 0
	});

	function updateGeoChart(key, count) {
		if (count > 60) {
			return

			

						

			

									

			

						

			

		}

		if (key == 'fastSource') {
			fastSource.update(count);
		}
		if (key == 'CA') {
			caGeo.update(count);
		}
		if (key == 'FL') {
			flGeo.update(count);
		}
		if (key == 'fastSink') {
			fastSink.update(count);
		}
		if (key == 'slowSink') {
			slowSink.update(count);
		}
	}

	// area chart
	// //////////////////////
	var areaChartData = [];
	areaChartData.push({
		label : "Fast Source",
		values : [ {
			time : 1,
			y : 0
		} ]
	});
	areaChartData.push({
		label : "Fast Sink",
		values : [ {
			time : 1,
			y : 0
		} ]
	});
	areaChartData.push({
		label : "Slow Sink",
		values : [ {
			time : 1,
			y : 0
		} ]
	});

	var area = $('#areaChart').epoch({
		type : 'time.line',
		data : areaChartData,
		windowSize : 30,
		historySize : 60,
		axes : [ 'left', 'bottom', 'right' ]
	});

	function updateAreaChart(ts, counts) {
		for (var i = 0; i < counts.length; i++) {
			if (counts[i] > 100) {
				return

				

								

				

												

				

								

				

			}
		}
		//		console.log("area - ts = " + ts + "  counts = " + counts + " values.length " + areaChartData[0].values.length)
		var data = [];
		data.push({
			time : ts,
			y : counts[0]
		});
		data.push({
			time : ts,
			y : counts[1]
		});
		data.push({
			time : ts,
			y : counts[2]
		});
		area.push(data);
	}
</script>

<script src="@routes.Assets.at("app.js")"></script>
<script src="@routes.Assets.at("controllers.js")"></script>

}





